<div class="job_tile col-12 col-md-6 col-lg-4 mb-4 bg-light" data-id="{{listing_id}}">
  <div class="card job-card">
    <div class="card-body">
      <div class="d-flex align-items-center mb-3">
        <img src="http://localhost:8000/{{company_logo}}" alt="Company Logo" class="img-thumbnail me-3" style="width: 80px; height: 80px; object-fit: cover;" onError="this.onerror=null;this.src='/path/to/default-logo.png';">
        <div class="ml-3">
          <h5 class="mb-0">{{company_name}}</h5>
          <small class="text-danger">{{jobStatus}}</small>
        </div>
      </div>
      <h5 class="card-title text-purple">{{title}}</h5>
      <p class="card-text"><strong>Salary: {{salaryRange}}</strong></p>
      <p class="card-text text-muted">{{jobType}}</p>
      <p class="card-text text-muted">{{description}}</p>
      <div class="badge-container mt-2">
        <span class="badge bg-light text-dark me-2">{{location}}</span>
      </div>
    </div>
  </div>
</div>
