<div class="job_tile col-md-3 col-sm-6 mb-4" data-id="{{listing_id}}">
    <div class="card job-card">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <!-- <p class="card-text"><strong>Benefits:</strong> {{benefits}}</p> -->
            <!-- <p class="card-text"><strong>Requirements:</strong> {{requirements}}</p> -->
            <!-- <p class="card-text"><strong>Description:</strong> {{description}}</p> -->
            <p class="card-text"><strong>Location:</strong> {{location}}</p>
            <p class="card-text"><strong>Status:</strong> {{jobStatus}}</p>
            <p class="card-text"><strong>Type:</strong> {{jobType}}</p>
        </div>
    </div>
</div>
