<div class="container-fluid job-detail-page">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card job-detail-card mt-5">
                <div class="card-body">
                    <h2 class="card-title">{{title}}</h2>
                    <p class="card-text"><strong>ID:</strong> {{listing_id}}</p>
                    <p class="card-text"><strong>Benefits:</strong> {{benefits}}</p>
                    <p class="card-text"><strong>Requirements:</strong> {{requirements}}</p>
                    <p class="card-text"><strong>Description:</strong> {{description}}</p>
                    <p class="card-text"><strong>Location:</strong> {{location}}</p>
                    <p class="card-text"><strong>Status:</strong> {{jobStatus}}</p>
                    <p class="card-text"><strong>Type:</strong> {{jobType}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
