<section class="h-100">
    <div class="signup-container container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration shadow-lg">
                    <div class="row g-0">
                        <!-- Image Column -->
                        <div class="col-md-6 d-flex align-items-stretch">
                            <img src="./src/assets/images/jobsignup.jpg" class="img-fluid" alt="Image Description" style="object-fit: cover; height: 100%; width: 100%;">
                        </div>
                        <!-- Form Column -->
                        <div class="col-md-6">
                            <div class="card-body p-md-5 text-black">
                                <h1 class="text-center mb-4">Employer Registration</h1>
                                <form id="employerForm" class="row g-3" enctype="multipart/form-data">
                                    <div class="col-md-12 form-group">
                                        <label for="name">Name <span class="required-star">*</span></label>
                                        <input type="text" class="form-control" id="name" name="name" required>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for="email">Email <span class="required-star">*</span></label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="example@example.com" required>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for="password">Password <span class="required-star">*</span></label>
                                        <input type="password" class="form-control" id="password" name="password" required>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for="companyDescription">Company Description<span class="required-star">*</span></label>
                                        <textarea class="form-control" id="companyDescription" name="companyDescription" rows="3" required></textarea>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for="companyLogo">Company Logo URL<span class="required-star">*</span></label>
                                        <input type="file" class="form-control" id="companyLogo" name="companyLogo"accept=".pdf" required>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for="companyLocation">Company Location <span class="required-star">*</span></label>
                                        <input type="text" class="form-control" id="companyLocation" name="companyLocation" required>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for="companyContact">Company Contact <span class="required-star">*</span></label>
                                        <input type="number" class="form-control" id="companyContact" name="companyContact" required>
                                    </div>
                                    <div class="col-md-12 text-center ">
                                        <button type="submit" class=" btn ">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
