<div class="login-container container-fluid mt-5 p-5">
    <div class="row align-items-center justify-content-center">
        
        <div class="col-md-5">
            <img src="./src/assets/images/joblogin.png" class="img-fluid" alt="login image">
        </div>
        
        <div class="col-md-4 offset-xl-1 shadow-lg bg-light rounded p-4 custom-div">
            <h2 class="text-center h1">Login</h2>
            <form id="login-form">
                <div class="form-group">
                    <label for="login-email">Email address</label>
                    <input type="string" class="form-control" id="login-email" aria-describedby="emailHelp" placeholder="Enter email">
                    <span class="error-message" id="emailError" style="color: red;"></span>
                </div>
                <div class="form-group">
                    <label for="login-password">Password</label>
                    <input type="password" class="form-control" id="login-password" placeholder="Password">
                    <span class="error-message" id="passwordError" style="color: red;"></span>
                </div>
                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" class="btn btn-block">Submit</button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? </p>
                </div>
        <div class="column col-md-12 d-flex justify-content-between text-center">
            <a class="link sign-link" id="employer-signup-link-login">Signup as Employer</a>
            <a class="link sign-link" id="jobseeker-signup-link-login">Signup as Job Seeker</a>
        </div>  
            </form>
        </div>
    </div>
</div>