<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" id="jobseeker-dashboard">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  id="see-jobs">
                            All Jobs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="jobseeker-applications">
                            My Applications
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="jobseeker-profile" >
                            Jobseeker Profile
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
           
               <!-- <div id="dashboard-left-container">
                <h1>Dashboard Overview</h1>
                <p>Statistics and summary here.</p>
            </div> -->
        </main>
    </div>
</div>

