<!-- <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editEmployerProfileForm">
                    <div class="mb-3">
                        <label for="profileName" class="form-label">Company Name</label>
                        <input type="text" class="form-control" id="profileName" value="{{employerName}}">
                    </div>
                    <div class="mb-3">
                        <label for="profileEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="profileEmail" value="{{employerEmail}}">
                    </div>
                    <div class="mb-3">
                        <label for="profileContact" class="form-label">Contact No</label>
                        <input type="text" class="form-control" id="profileContact" value="{{employerContactNo}}">
                    </div>
                    <div class="mb-3">
                        <label for="profileLocation" class="form-label">Location</label>
                        <input type="text" class="form-control" id="profileLocation" value="{{employerLocation}}">
                    </div>
                    <div class="mb-3">
                        <label for="profileDescription" class="form-label">Description</label>
                        <textarea class="form-control" id="profileDescription" rows="3">{{employerDescription}}</textarea>
                    </div>
                    <a class="btn btn-primary" id="saveProfileChanges">Save changes</a>
                </form>
            </div>
        </div>
    </div>
</div> -->