<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" id="dashboard">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  id="job-post-show">
                            Job Postings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="applications">
                            Applications
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="company-profile" >
                            Company Profile
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
           
               <div id="dashboard-left-container">
                <h1 class="my-4">Dashboard Overview</h1>
                <!-- Add your dashboard components here -->
                <div class="row">
                    <!-- Example Card -->
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Total Job Postings</h5>
                                <p class="card-text" id="total-job-postings">10</p>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </main>
    </div>
</div>

