<div class="container mt-5" id="mycom">
    <div class="row">
      <!-- Employer Logo Section -->
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card mb-4 border-0">
          <img src="http://localhost:8000/{{employerLogo}}" alt="Employer Logo" class="card-img-top img-fluid" style="max-height: 200px; object-fit: cover;">
        </div>
      </div>
  
      <!-- Employer Details Section -->
      <div class="col-md-8">
        <div class="card mb-4 border-2 border-color">
          <div class="card-body">
            <div class="text-center mb-4">
              <h1 class="card-title text-purple">{{employerName}}</h1>
              <p class="card-text"><strong>Email:</strong> {{employerEmail}}</p>
              <p class="card-text"><strong>Contact No:</strong> {{employercontactNo}}</p>
              <p class="card-text"><strong>Location:</strong> {{employerLocation}}</p>
            </div>
  
            <h3 class="card-title">About the Company</h3>
            <p class="card-text">{{employerDescription}}</p>
          </div>
  
          <div class="text-center mb-4">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editProfileModal">
              Edit Profile
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  

<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal">
                <form id="editEmployerProfileForm">
                    <div class="mb-3">
                        <label for="profileName" class="form-label">Company Name<span class="required-star">*</span></label>
                        <input type="text" class="form-control" id="profileName" value="{{employerName}}">
                        <div id="name-error" class="text-danger" style="display: none;"></div>
                    </div>
                    <div class="mb-3">
                        <label for="profileEmail" class="form-label">Email<span class="required-star">*</span></label>
                        <input type="email" class="form-control" id="profileEmail" value="{{employerEmail}}">
                        <div id="email-error" class="text-danger" style="display: none;"></div>
                    </div>
                    <div class="mb-3">
                        <label for="profileContact" class="form-label">Contact No<span class="required-star">*</span></label>
                        <input type="number" class="form-control" id="profileContact" value="{{employercontactNo}}">
                        <div id="jobseekerContact-error" class="text-danger" style="display: none;"></div>
                    </div>
                    <div class="mb-3">
                        <label for="profileLocation" class="form-label">Location<span class="required-star">*</span></label>
                        <input type="text" class="form-control" id="profileLocation" value="{{employerLocation}}">
                        <div id="location-error" class="text-danger" style="display: none;"></div>
                    </div>
                    <div class="mb-3">
                        <label for="profileDescription" class="form-label">Description<span class="required-star">*</span></label>
                        <textarea class="form-control" id="profileDescription" rows="3">{{employerDescription}}</textarea>
                        <div id="description-error" class="text-danger" style="display: none;"></div>
                    </div>
                    <div id = "show response"></div>
                    <button type="submit" class="btn" id="saveProfileChanges" data-bs-dismiss="modal">Save changes</button>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>                </div>
            </div>

        </div>
    </div>
</div>


