<div class="container-fluid h-100">
    <div class="row h-100">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light">
            <div class="sidebar-sticky h-100">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" id="admin-dashboard">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  id="view-employers">
                           View Employers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="view-jobseekers">
                            View Jobseekers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="view-applications">
                            view Applications
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="view-joblistings">
                            view Joblistings
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
           
               <!-- <div id="dashboard-left-container"></div> -->
               <div id="admin-content-container"></div>
        </main>
    </div>
</div>

