<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <!-- Cover Letter Section -->
            <div class="mb-4">
                <h5 class="card-title">Cover Letter</h5>
                <p id="coverLetter" class="card-text">{{coverLetter}}</p>
            </div>

            <!-- PDF Link Section -->
            <div class="mb-4">
                <h5 class="card-title">Resume PDF</h5>
                <a href="http://localhost:8000/{{resume}}" target="_blank" class="btn btn-primary">
                    View Resume
                  </a>
            </div>

            <!-- Additional Message Section -->
            <div>
                <h5 class="card-title">Additional Message</h5>
                <p id="additionalMessage" class="card-text">{{additionalMessage}}</p>
            </div>
        </div>
    </div>
</div>
