@import url('./joblistings.css');
@import url('./login.css');
@import url('./signup.css');
@import url('./home.css');
@import url('./dashboard.css');

:root{
    --dark-color-theme:#070828; 
    --purple-color: #8C8AFF;
}

* {
    color: var(--dark-color-theme);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link {  
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--dark-color-theme); 
    background-color: #e9ecef; 
}

